html
{
	background: url(https://images.unsplash.com/photo-1579126038374-6064e9370f0f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1920&q=1080) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
}

.main {
	padding-left: 100px;
	padding-right: 100px;
	text-align: left;
}

h1 {
	text-align: center;
}

.centered-text {
	text-align: center;
}

th, td , table {
	width: 20%;
	border: 1px solid black;
	border-collapse: collapse;
}

tr:nth-child(even) {
	background-color: #e1e2f7;
}


.border {
	border: 1px solid black;
	border-collapse: collapse;
}
